body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  aling-items: center;
  background-color: #f0f1f1;
  margin: 20px;
}

h1 {
  color: red;
}

.game-container {
  display: grid;
  grid-template-colums: reapeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px 0;
  boder: 3px solid #006bff;
  background-color: #006bff;
}

.cell {
  background-color: White;
  display: flex;
  justify-content: center;
  align-intems: center;
}
